doctype 5
block vars

html
	head
		meta(charset='utf-8')
		meta(name ="viewport", content = "width=device-width, initial-scale=1, maximum-scale=1")
		link(rel = "stylesheet", type = "text/css", href = "twbs/bootstrap.min.css")
		link(rel = "stylesheet", type = "text/css", href = "FortAwesome/css/font-awesome.min.css")
		link(rel = "stylesheet", type = "text/css", href = "page.css")
		script(type = "text/javascript", src = "requirejs/require.js", data-main = "page")
		title #{pageTitle}
	body(data-context = "appContext", style = "margin-right: 0; padding-top: 70px")
		nav.navbar.navbar-inverse.navbar-fixed-top(role = "navigation")
			.container
				.navbar-header
					button.navbar-toggle(type = "button", data-toggle = "collapse", data-target = ".navbar-nv-collapse")
						- for(var i = 0; i < 3; i++)
							span.icon-bar
					a.navbar-brand(href = "/", style = "color: #fff") UCLA JIFRESSE
				.collapse.navbar-collapse.navbar-nv-collapse
					.nav.navbar-nav
						li(class = (thisPage == "home" ? "active" : ""))
							a(href="/") Home
						li(class = (thisPage == "vision" ? "active" : ""))
							a(href="/vision") Vision
		block content