doctype 5
block vars

html
	head
		meta(charset='utf-8')
		meta(name ="viewport", content = "width=device-width, initial-scale=1, maximum-scale=1")
		link(rel = "stylesheet", type = "text/css", href = "/components/bootstrap/dist/css/bootstrap.min.css")
		link(rel = "stylesheet", type = "text/css", href = "/components/bootstrap-datepicker/css/datepicker.css")
		link(rel = "stylesheet", type = "text/css", href = "/components/bootstrap-datepicker/css/datepicker3.css")
		link(rel = "stylesheet", type = "text/css", href = "/components/font-awesome/css/font-awesome.min.css")
		link(rel = "stylesheet", type = "text/css", href = "//cdn.leafletjs.com/leaflet-0.7.1/leaflet.css")
		link(rel = "stylesheet", type = "text/css", href = "/page.css")
		script(type = "text/javascript", src = "/components/requirejs/require.js", data-main = "/page")
		title #{pageTitle}
	body(data-context = "appContext", style = "margin-right: 0; padding-top: 70px")
		nav.navbar.navbar-inverse.navbar-fixed-top(role = "navigation")
			.container
				.navbar-header
					button.navbar-toggle(type = "button", data-toggle = "collapse", data-target = ".navbar-nv-collapse")
						- for(var i = 0; i < 3; i++)
							span.icon-bar
					a.navbar-brand(href = (thisPage == "home" ? "#" : "/"), style = "color: #fff") ROMPG
				.collapse.navbar-collapse.navbar-nv-collapse
					ul.nav.navbar-nav
						li(class = (thisPage == "home" ? "active" : ""))
							a(href = (thisPage == "home" ? "#" : "/")) Home
						li(class = (thisPage == "about" ? "active" : ""))
							a(href = (thisPage == "about" ? "#" : "/about")) About
						li(class = (thisPage == "people" ? "active" : ""))
							a(href = (thisPage == "people" ? "#" : "/people")) People
						li(class = (thisPage == "blog" ? "active" : ""))
							a(href = (thisPage == "blog" ? "#" : "//west.rssoffice.com:9081")) Blog
						li(class = (thisPage == "roms" ? "active" : ""))
							a(href = (thisPage == "roms" ? "#" : "/roms")) ROMS
						li(class = (thisPage == "interactive" ? "active" : ""))
							a(href = (thisPage == "interactive" ? "#" : "/interactive")) Interactive
		block content