extends ../layout

block vars
	- var pageTitle = "People · Regional Ocean Modeling and Prediction Group"
	- var thisPage = "people"

block content
	.jumbotron(style = "margin-top: -20px")
		.container
			h1(style = "font-weight: 200") COPS Core Team
	.container
		h2 Dr. Yi Chao
		.well.pull-right.col-xs-12.col-sm-6.col-md-5.col-lg-4(style = "margin-left: 25px")
			.panel-body
				img.pull-right(src = "/images/yichao.png", style = "margin-left: 10px; max-height: 120px; max-width: 100px")
				h4 Dr. Yi Chao
				p Principal Scientist at Remote Sensing Solutions, Inc. and Adjunct Professor at UCLA JIFRESSE
				a(href = "ychao@remotesensingsolutions.com") ychao@remotesensingsolutions.com<br>
				a(href = "ychao@jifresse.ucla.edu") ychao@jifresse.ucla.edu
		p Dr. Yi Chao is a Principal Scientist at Remote Sensing Solutions, Inc. He is an Adjunct Professor at UCLA JIFRESSE and Department of Atmospheric and Oceanic Sciences. He received both the M.A. and Ph.D. degrees in Atmospheric and Oceanic Sciences from Princeton University, and the B.S. degree from University of Science and Technology of China.
		p During 1993-2011, Dr. Chao was a Principal Scientist at Jet Propulsion Laboratory (JPL), California Institute of Technology, where he was involved in numerous ocean remote-sensing and science projects. He was the Project Scientist for the Aquarius mission developing the first NASA satellite to measure ocean salinity from space. He also took several management positions at JPL ranging from Group Supervisor to Section Manager.
		p Dr. Chao was also a PI funded by the Office of Naval Research to have successfully developed, deployed and recovered the first profiling float completely powered by the ocean temperature differences. He is currently the President and Chief Executive Officer of Seatrec, Inc. to commercialize this thermal recharging technology for underwater applications.
		div.clearfix
		hr
		h2 Dr. John D. Farrara
		.well.pull-right.col-xs-12.col-sm-6.col-md-5.col-lg-4(style = "margin-left: 25px")
			.panel-body
				img.pull-right(src = "/images/jfarrara_pic.jpg", style = "margin-left: 10px; max-height: 120px; max-width: 100px")
				h4 Dr. John D. Farrara
				p Post-Doctoral Researcher at UCLA JIFRESSE
				a(href = "farraraj@yahoo.com") farraraj@yahoo.com
		p Dr. John D. Farrara is a Researcher in the Joint Institute for Regional Earth System Science and Engineering at UCLA. He received his PhD degree from the Department of Atmospheric Sciences at UCLA in 1989.
		p Dr. Farrara's research since then has been centered on numerical modeling of the atmosphere and ocean on regional to global scales. His recent work has been concentrated on applications of the Regional Ocean Modeling System (ROMS) in coastal ocean regions.
		p One such region is the California coast, another is the Prince William Sound Region in Alaska, where he piloted a ROMS-based data-assimilating real-time nowcast-forecast system in support of the summer 2009 Sound Predictions experiment. During the experiment, the system was run daily in real-time to support operations, particularly the tracking and deployment of drifters. Nowcasts were produced every 6 hours and a 48-hr forecast was run once per day. A sixteen-member ensemble of forecasts was also executed on most days in order to estimate the uncertainties in forecasted quantities. A similar system setup is currently being run in near-realtime for both regions in support of several activities in these regions.
		div.clearfix
		hr
		h2 Hongchun (Carrie) Zhang
		.well.pull-right.col-xs-12.col-sm-6.col-md-5.col-lg-4(style = "margin-left: 25px")
			.panel-body
				h4 Hongchun (Carrie) Zhang
				p Assistant Researcher at UCLA JIFRESSE
				a(href = "zhc216@gmail.com") zhc216@gmail.com
		p Bio Required...
		div.clearfix
		hr
		h2 Tianyu Gao
		.well.pull-right.col-xs-12.col-sm-6.col-md-5.col-lg-4(style = "margin-left: 25px")
			.panel-body
				h4 Tianyu Gao
				p PhD Student at Atmospheric and Oceanography Sciences, UCLA
				a(href = "xtgty@g.ucla.edu") xtgty@g.ucla.edu
		p Bio Required...
		div.clearfix
		hr
		h2 Yue Guan
		.well.pull-right.col-xs-12.col-sm-6.col-md-5.col-lg-4(style = "margin-left: 25px")
			.panel-body
				img.pull-right(src = "/images/yueguan.jpg", style = "margin-left: 10px; max-height: 120px; max-width: 100px")
				h4 Yue Guan
				p PhD candidate at Tsinghua University, China
				a(href = "guanyue@ucla.edu") guanyue@ucla.edu
		p Yue Guan is a PhD candidate at Tsinghua University, China, and he is working at Joint Institute For Regional Earth System Science and Engineering, UCLA as a visiting student. Yue received his B.S. Degree in Tsinghua University. His major is numerical simulation on dispersion of radioactive pollutant in ocean.
		div.clearfix
		hr
		h2 Gautham Badhrinathan
		.well.pull-right.col-xs-12.col-sm-6.col-md-5.col-lg-4(style = "margin-left: 25px")
			.panel-body
				img.pull-right(src = "/images/gautham.jpg", style = "margin-left: 10px; max-height: 120px; max-width: 100px")
				h4 Gautham Badhrinathan
				p Graduate student at Computer Science, UCLA
				a(href = "gotemb@ucla.edu") gotemb@ucla.edu
		p Gautham Badhrinathan is doing his Masters in Computer Science at University of California, Los Angeles. He received his B.E. degree in Electronics and Communications Engineering from Birla Institute of Technology and Science, Dubai Campus (BITS Pilani, Dubai Campus).
		p Gautham worked as a Software Developer Intern at Environmental Systems Research Institute (Esri) for six months. Over there he developed web applications that dealt with Georeferencing and Classifying Satelite Imagery. He also worked on extending their core desktop product.
		p For his bachelor's project, Gautham designed and developed the Computerized Registration System for BITS Pilani, Dubai Campus. This system has been working successfully for two semesters.
		br
		br