extends ../header

block vars
	- var pageTitle = "UCLA JIFRESSE - People"
	- var thisPage = "people"

block content
	block vars2
	nav.navbar.navbar-default.navbar-static-top(style="top: -20px")
		.container
			.nav.navbar-nav
				li(class = (thisPage2 == "director" ? "active" : ""))
					a(href = (thisPage2 == "director" ? "#" : "/people/director")) Director
				li(class = (thisPage2 == "governingBoard" ? "active" : ""))
					a(href = (thisPage2 == "governingBoard" ? "#" : "#")) Governing Body
			.navbar-form.navbar-right(role = "search")
				.form-group
					input.form-control(type = "search", placeholder="Search People")
	block content2