extends ../layout

block vars
	- var pageTitle = "Welcome · Regional Ocean Modeling and Prediction Group"
	- var thisPage = "home"

block content
	.container
		.jumbotron
			h1 Welcome
			p This is the <strong>Regional Ocean Modeling and Prediction Group</strong> at UCLA JIFRESSE. To get to know more about ROMPG, check out the <a href="/about">About</a> section.
		.row
			.col-sm-6
				.panel.panel-default
					.panel-body
						br
						br
						br
						br
						p.lead.text-center(style = "opacity: 0.5") California ROMS
						br
						br
						br
				.panel.panel-default
					.panel-body
						br
						br
						br
						br
						p.lead.text-center(style = "opacity: 0.5") Gulf of Mexico ROMS
						br
						br
						br
			.col-sm-6
				.panel.panel-default
					.panel-body
						br
						br
						br
						br
						p.lead.text-center(style = "opacity: 0.5") PWS ROMS
						br
						br
						br
				.panel.panel-default
					.panel-body
						br
						br
						br
						br
						p.lead.text-center(style = "opacity: 0.5") San Francisco Bay SELFE
						br
						br
						br
				