extends ../layout

block vars
	- var pageTitle = "Welcome · Regional Ocean Modeling and Prediction Group"
	- var thisPage = "home"

block content
	.jumbotron(style = "margin-top: -20px")
		.container
			h1(style = "font-weight: 200") Welcome
			p The <em>Cooperative Ocean Prediction System (COPS)</em> is a collaboration between <a href="//www.remotesensingsolutions.com"><em>Remote Sensing Solutions, Inc.</em></a> and <a href="//jifresse.ucla.edu"><em>UCLA Joint Institute for Regional Earth System Science and Engineering (JIFRESSE)</em></a> to improve understanding and to develop projections about regional ocean and environments. In addition to its core team, we welcome outside investigators to participate and contribute.
			.row
				.col-sm-3.col-sm-offset-3.col-md-3.col-md-offset-3.col-lg-3.col-lg-offset-3
					a(href = "//www.remotesensingsolutions.com")
						img(src = "/images/rsslogo_clipped.png", style = "display: block; margin: 0 auto 0; max-height: 80px")
				.col-sm-3.col-md-3.col-lg-3
					a(href = "//jifresse.ucla.edu")
						img(src = "/images/JIFRESSELogo2.png", style = "display: block; margin: 0 auto 0; max-height: 80px")
	.container(data-context = "homeContext")
		.row(style = "display: none", data-showif = "appContext.pageLoaded")
			.col-sm-6
				.panel.panel-default(style = "overflow: hidden")
					.panel-body.text-center
						a(href = "/roms?variable=curr")
							img(data-bind-src = "latestCaRomsImagePath_curr", style = "max-width: 100%")
				.panel.panel-default(style = "overflow: hidden")
					.panel-body.text-center
						a(href = "/roms?variable=salinity")
							img(data-bind-src = "latestCaRomsImagePath_salinity", style = "max-width: 100%")
			.col-sm-6
				.panel.panel-default(style = "overflow: hidden")
					.panel-body.text-center
						a(href = "/roms?variable=ssh")
							img(data-bind-src = "latestCaRomsImagePath_ssh", style = "max-width: 100%")
				.panel.panel-default(style = "overflow: hidden")
					.panel-body.text-center
						a(href = "/roms?variable=temp")
							img(data-bind-src = "latestCaRomsImagePath_temp", style = "max-width: 100%")
		.text-center(data-hideif = "appContext.pageLoaded")
			br
			br
			br
			i.fa.fa-spinner.fa-spin.fa-3x