extends ../layout

block vars
	- var pageTitle = "Welcome · Regional Ocean Modeling and Prediction Group"
	- var thisPage = "home"

block content
	.container(data-context = "homeContext")
		.jumbotron
			h1 Welcome
			p This is the <strong>Regional Ocean Modeling and Prediction Group</strong> at UCLA JIFRESSE. To get to know more about ROMPG, check out the <a href="/about">About</a> section.
		.row(style = "display: none", data-showif = "appContext.pageLoaded")
			.col-md-6
				.panel.panel-default(style = "overflow: hidden")
					.panel-body.text-center
						a(href = "/roms?variable=curr")
							img(data-bind-src = "latestCaRomsImagePath_curr", style = "max-width: 100%")
				.panel.panel-default(style = "overflow: hidden")
					.panel-body.text-center
						a(href = "/roms?variable=salinity")
							img(data-bind-src = "latestCaRomsImagePath_salinity", style = "max-width: 100%")
			.col-md-6
				.panel.panel-default(style = "overflow: hidden")
					.panel-body.text-center
						a(href = "/roms?variable=ssh")
							img(data-bind-src = "latestCaRomsImagePath_ssh", style = "max-width: 100%")
				.panel.panel-default(style = "overflow: hidden")
					.panel-body.text-center
						a(href = "/roms?variable=temp")
							img(data-bind-src = "latestCaRomsImagePath_temp", style = "max-width: 100%")
		.text-center(data-hideif = "appContext.pageLoaded")
			br
			br
			br
			i.fa.fa-spinner.fa-spin.fa-3x