extends ../header

block vars
	- var pageTitle = "UCLA JIFRESSE"
	- var thisPage = "home"

block content
	.container
		.jumbotron
			h1 Welcome
			p The UCLA Joint Institute for Regional Earth System Science and Engineering (JIFRESSE) is a scientific collaboration between UCLA and NASA’s Jet Propulsion Laboratory (JPL) to improve understanding and to develop future projections about global climate change and its effect on regional climates and environments.
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading The Institute
					.panel-body
						p UCLA JIFRESSE brings together the research, education and training resources of two of Southern California’s premiere research and technology organizations to advance knowledge and monitor global warming and climate change in our State.
						p The Institute combines UCLA’s strength in climate modeling and remote sensing and JPL’s strength in data collection from satellites. It serves as a center for multi-disciplinary research focused on Earth systems in the Southern California region, including studies of the atmosphere, coastal ocean and land surface, and the physical, chemical and biological interactions among them. Researchers will also focus their work on the impacts of these processes on air and water quality and on the regional climate system. UCLA Institute supporters include the Office of the Vice Chancellor for Research, the Division of Physical Sciences, College of Letters and Science, and the Henry Samueli School of Engineering and Applied Science. The Jet Propulsion Laboratory’s Office of the Director, Earth Science and Technology Directorate, and Science Division have all played key roles in the formulation of the Institute.
			.col-md-6
				.panel.panel-default
					.panel-heading News &amp; Events
					.list-group
						each ni in newsInfo
							.list-group-item
								if ni.image
									img.pull-right(src = "/images/#{ni.image}", style = "max-height: 100px; max-width: 150px; margin: 0 0 0 15px")
								h4= ni.heading
								p= ni.content
								.clearfix