extends ../layout

block vars
	- var pageTitle = "Welcome · Regional Ocean Modeling and Prediction Group"
	- var thisPage = "home"

block content
	.container(data-context = "homeContext")
		.jumbotron
			h1 Welcome
			p This is the <strong>Regional Ocean Modeling and Prediction Group</strong> at UCLA JIFRESSE. To get to know more about ROMPG, check out the <a href="/about">About</a> section.
		.row
			.col-md-8.col-md-offset-2
				.panel.panel-default(style = "overflow: hidden")
					.panel-heading
						h3.panel-title.text-center CA-ROMS
					.panel-body.text-center
						a(href = "/roms")
							img(data-bind-src = "latestCaRomsImagePath", data-event-error = "appContext.homeContext.latestCaRomsImageError", data-hideif = "latestCaRomsImageError", style = "max-width: 100%")
							.lead(data-showif = "latestCaRomsImageError", style = "margin-bottom: 0; display: none") Latest data not found