extends ../layout

block vars
	- var pageTitle = "UCLA JIFRESSE - Vision"
	- var thisPage = "vision"

block content
	.container
		h1 Our Vision
		p JIFRESSE will promote, stimulate, and engage UCLA and JPL scientists and engineers in cutting edge Earth system science research to:
		ul
			li Increase scientific understanding about factors that affect climate and environmental changes
			li Study climate impacts on regional environments, weather patterns, and ecosystems, particularly in California
			li Support the design of future JPL/NASA space missions
			li Explore new technologies and applications for monitoring, detecting, and projecting climate and environmental changes
			li Enhance the educational mission of UCLA through its collaboration with JPL